.dvp-html {
	--dvp-color-pink: #ed008c;
	--dvp-color-pink-muted-dark: #804065;
	--dvp-color-pink-muted-light: #e5b8d2;
	--dvp-color-pink-faded: #ffe5f4;
	--dvp-color-purple: #9460a4;
	--dvp-color-green: #00adb1;
	--dvp-color-green-light: #45c3c6;
	--dvp-color-yellow: #f9b122;
	--dvp-color-orange: #ee743b;
	--dvp-color-blue: #003d82;
	--dvp-color-oxford: #002147;

	--dvp-padding: 2rem;
	--dvp-gutter: max(2rem, calc((100% - 1408px) / 2));

	font-size: 16px;
	position: relative;
}

@media screen and (min-width: 1440px) {

	.dvp-html {
		--dvp-padding: 3rem;
	}

}

.dvp-body {
	position: relative;
	margin: 0;
	color: #000;
	font-family: termtem, hellofont-id-dianyuan, sans-serif;
	font-size: 1.5rem;
	line-height: 1.2;
}

.dvp-body :lang(cn) {
	font-size: .75em;
}

.dvp-body a {
	text-decoration: none;
}

.dvp-container {
	padding: var(--dvp-padding) var(--dvp-gutter);
}

.dvp-nowrap {
	white-space: nowrap;
}

/* Header */

.dvp-header {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;
	height: 80vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0.8));
} 

.dvp-header-nav-toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 0;
	padding: 0 var(--dvp-gutter);
	height: 5rem;
	background: transparent;
	color: var(--dvp-color-oxford);
	filter:
		drop-shadow(0 0 0.25rem #fff)
		drop-shadow(0 0 1rem #fff)
		drop-shadow(0 0 2rem #fff);
	font-size: 1.5rem;
	border: 0;
	cursor: pointer;
	transition: color 0.5s, filter 0.5s;
}

.dvp-header-nav-toggle:hover {
	color: #fff;
	filter: drop-shadow(0 0 0.25rem var(--dvp-color-pink));
}

.dvp-header-logo {
	margin: 0 auto;
	width: 50%;
	max-width: 8rem;
}

.dvp-header-logo-img {
	filter:
		drop-shadow(0 0 0.25rem #fff)
		drop-shadow(0 0 1rem #fff);
}

.dvp-header-name {
	order: 1;
	margin: 1rem 0;
	padding: 0.5rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dvp-header-name-copy {
	display: block;
	margin: 0.5rem 0;
	line-height: 1;
	text-shadow:
		0 0 0.125rem #fff,
		0 0 0.75rem #fff;
	white-space: nowrap;
}

.dvp-header-name-copy:lang(th) {
	margin-bottom: -0.5rem;
	color: var(--dvp-color-pink);
	font-size: 2.5rem;
}

.dvp-header-name-copy:lang(en) {
	color: var(--dvp-color-green);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

.dvp-header-name-copy:lang(cn) {
	color: var(--dvp-color-orange);
	font-size: 1.5rem;
	letter-spacing: 0.25rem;
}

.dvp-header-curriculum {
	margin: auto auto 0 0;
	width: 33%;
	max-width: 6rem;
	opacity: 0.67;
}

.dvp-header-links {
	display: flex;
	align-items: center;
	gap: 1rem;
	order: 1;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dvp-header-links-facebook {
	color: #0866ff;
}

.dvp-header-links-line {
	color: #06c755;
}

.dvp-header-links-email {
	color: var(--dvp-color-purple);
}

.dvp-header-links-icon {
	color: inherit;
	transition: color 0.5s, filter 0.5s;
}

.dvp-header-links-icon:hover {
	color: #fff;
	filter:
		drop-shadow(0 0 0.125rem var(--dvp-color-pink-muted-dark))
		drop-shadow(0 0 0.5rem var(--dvp-color-pink));
}

.dvp-header-links-icon > * {
	vertical-align: middle;
}

.dvp-header-links-cta {
	margin: 0 0 0 auto;
	color: #fff;
}

.dvp-header-links-button {
	display: block;
	margin: 0 0 0 auto;
	padding: 0 1rem;
	background: var(--dvp-color-pink);
	color: inherit;
	line-height: 2.5rem;
	white-space: nowrap;
	border-radius: 1.25rem;
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.1),
		inset 0 0 0 2px rgba(255, 255, 255, 0.2);
	transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}

.dvp-header-links-button:hover {
	background: #fff;
	color: var(--dvp-color-pink);
	box-shadow: 0 0 1rem var(--dvp-color-pink);
}

.dvp-header-lang {
	display: none;
	align-items: center;
	gap: 1rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0 var(--dvp-gutter);
	height: 5rem;
	background: var(--dvp-color-pink);
	color: #fff;
	font-size: 1.25rem;
	font-weight: 700;
	list-style: none;
}

.dvp-header-lang-item.dvp-active {
	font-weight: 400;
	font-style: italic;
}

.dvp-header-nav {
	display: none;
	position: fixed;
	top: 5rem;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	padding: var(--dvp-padding) var(--dvp-gutter);
	background: rgb(255, 255, 255, 0.9);
	color: var(--dvp-color-pink);
	overflow-x: hidden;
	overflow-y: auto;
}

.dvp-header-nav-list {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: 700;
	list-style: none;
}

.dvp-header-nav-item {
	margin: 0;
	padding: 0;
}

.dvp-header-nav-item + .dvp-header-nav-item {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dvp-header-nav-sub-list {
	padding: 0.25rem 0;
	font-size: 1.25rem;
	font-weight: 400;
	list-style: none;
}

.dvp-header-lang-link,
.dvp-header-nav-link,
.dvp-header-nav-sub-link {
	color: inherit;
	transition: color 0.5s;
}

.dvp-header-lang-link:hover,
.dvp-header-nav-link:hover,
.dvp-header-nav-sub-link:hover {
	color: var(--dvp-color-oxford);
}

html.dvp-header-nav-active {
	pointer-events: none;
	overflow: hidden;
}

html.dvp-header-nav-active .dvp-header-nav-toggle {
	color: #fff;
	filter: none;
	pointer-events: auto;
}

html.dvp-header-nav-active .dvp-header-nav-toggle:hover {
	color: var(--dvp-color-oxford);
}

html.dvp-header-nav-active .dvp-header-lang {
	display: flex;
	pointer-events: auto;
}

html.dvp-header-nav-active .dvp-header-nav {
	display: block;
	pointer-events: auto;
}

@media screen and (min-width: 782px) {

	.dvp-header {
		flex-flow: row wrap;
		align-content: start;
		column-gap: 1.5rem;
		row-gap: 0.5rem;
		background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 60%);
	}

	.dvp-header-nav-toggle {
		display: none;
	}

	.dvp-header-logo {
		margin: 0;
	}

	.dvp-header-name {
		order: 0;
		margin: -0.5rem 0 auto 0;
		padding: 0;
		border: none;
	}
	
	.dvp-header-curriculum {
		margin: 0.5rem 0 auto 0;
		padding: 0 0 0 2rem;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}

	.dvp-header-links {
		align-self: center;
		margin: auto 0 0 auto;
	}

	.dvp-header-links-cta {
		margin-left: 1rem;
	}
	
	.dvp-header-lang {
		display: flex;
		position: absolute;
		top: var(--dvp-padding);
		right: var(--dvp-gutter);
		left: auto;
		padding: 0;
		height: auto;
		background: transparent;
	}

	.dvp-header-lang-link {
		display: block;
		padding: 0.25rem 0.75rem;
		color: var(--dvp-color-blue);
		border-radius: 0.25rem;
		outline: 1px solid var(--dvp-color-blue);
		transition: color 0.5s, background 0.5s, outline 0.5s;
	}

	.dvp-header-lang-link.dvp-active {
		margin: 1px;
		background: var(--dvp-color-green-light);
		color: #fff;
		outline: 0;
	}

	.dvp-header-lang-link:hover {
		background: var(--dvp-color-oxford);
		color: #fff;
		outline: 1px solid #fff;
	}

	.dvp-header-divider {
		flex-basis: 100%;
	}
	
	.dvp-header-nav {
		display: block;
		align-self: center;
		position: static;
		margin: 0 auto 0 0;
		padding: 0;
		background: transparent;
		color: var(--dvp-color-oxford);
	}
	
	.dvp-header-nav-list {
		display: flex;
		gap: 1rem;
	}
	
	.dvp-header-nav-item {
		padding: 0;
	}
	
	.dvp-header-nav-item + .dvp-header-nav-item {
		margin: 0;
		padding: 0;
		border: 0;
	}

	.dvp-header-nav-item:hover .dvp-header-nav-link {
		position: relative;
		z-index: 2;
		color: #fff;
		text-shadow:
			0 0 0.125rem var(--dvp-color-pink-muted-dark),
			0 0 0.5rem var(--dvp-color-pink);
	}
	
	.dvp-header-nav-sub-list {
		display: none;
		position: absolute;
		padding: 0.75rem 1rem;
		background: #fff;
		font-size: 1.25rem;
		font-weight: 400;
		list-style: none;
		border-radius: 0.25rem;
		box-shadow: 0 0 2rem var(--dvp-color-pink);
	}

	.dvp-header-nav-item:hover .dvp-header-nav-sub-list {
		display: block;
	}

	.dvp-header-nav-sub-link:hover {
		color: var(--dvp-color-pink);
	}
	
	html.dvp-header-nav-active {
		pointer-events: auto;
		overflow: auto;
	}

}

/* Main */

.dvp-main-header {
	position: relative;
	height: 80vh;
}

/* Slider */

.dvp-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.dvp-slider-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Sections */

.dvp-section-header,
.dvp-section-footer {
	color: var(--dvp-color-pink);
	line-height: 1;
}

.dvp-section-header-link,
.dvp-section-footer-link {
	color: inherit;
	transition: color 0.5s;
}

.dvp-section-header-link {
	transition: color 0.5s, text-shadow 0.5s;
}

.dvp-section-header-link:hover {
	color: #fff;
	text-shadow: 0 0 1rem var(--dvp-color-pink);
}

.dvp-section-footer-link:hover {
	color: var(--dvp-color-blue);
}

.dvp-section-footer > *,
.dvp-section-footer-link-icon > * {
	vertical-align: middle;
}

.dvp-section-footer-link-icon {
	font-size: 1rem;
}

.dvp-section-footer-link-label {
	margin-right: 0.25rem;
	font-size: 1rem;
	font-weight: 700;
}

.dvp-section > :first-child,
.dvp-section > :first-child :first-child {
	margin-top: 0;
}

.dvp-section > :last-child,
.dvp-section > :last-child :last-child {
	margin-bottom: 0;
}

/* Links */

.dvp-links-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 1rem;
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	font-weight: 700;
	list-style: none;
}

.dvp-links-button {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.75rem 1rem;
	background: #eee;
	color: #fff;
	border-radius: 0.5rem;
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.25),
		inset 0 0 0 2px rgba(255, 255, 255, 0.33);
	white-space: nowrap;
	overflow: hidden;
	transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}

.dvp-links-color-1 {
	background: var(--dvp-color-pink);
}

.dvp-links-color-2 {
	background: var(--dvp-color-purple);
}

.dvp-links-color-3 {
	background: var(--dvp-color-green-light);
}

.dvp-links-color-4 {
	background: var(--dvp-color-green);
}

.dvp-links-color-5 {
	background: var(--dvp-color-yellow);
}

.dvp-links-color-6 {
	background: var(--dvp-color-orange);
}

.dvp-links-color-7 {
	background: var(--dvp-color-oxford);
}

.dvp-links-color-8 {
	background: var(--dvp-color-blue);
}

.dvp-links-button:hover {
	background: #fff;
	color: var(--dvp-color-pink);
	box-shadow: inset 0 0 0 1px var(--dvp-color-pink-muted-light);
}

@media screen and (min-width: 782px) {

	.dvp-links-list {
		grid-template-columns: repeat(4, 1fr);
	}

}

@media screen and (min-width: 1440px) {

	.dvp-links-list {
		font-size: 1.75rem;
		font-weight: 400;
	}

	.dvp-links-button {
		gap: 1rem;
		padding: 1rem 2rem;
	}

}

/* Quote */

.dvp-quote {
	background: url(../img/paint.png);
	background-size: cover;
	text-align: center;
}

.dvp-quote-title {
	color: rgba(0, 0, 0, 0.4);
	font-size: 1.25rem;
}

.dvp-quote-headline {
	margin: 0;
	color: var(--dvp-color-pink);
	font-size: 3rem;
	font-weight: 400;
	line-height: 0.9;
	white-space: nowrap;
}

.dvp-quote-subhead {
	margin: 1rem 0 0 0;
	color: var(--dvp-color-oxford);
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.125rem;
}

.dvp-quote-caption {
	color: rgba(0, 0, 0, 0.67);
	white-space: nowrap;
}

@media screen and (min-width: 782px) {

	.dvp-quote-headline {
		font-size: 4rem;
	}

	.dvp-quote-subhead {
		font-size: 1.25rem;
		letter-spacing: 0.5rem;
	}

}

@media screen and (min-width: 1440px) {

	.dvp-quote-title {
		font-size: 1.5rem;
	}

	.dvp-quote-headline {
		font-size: 6rem;
	}

	.dvp-quote-subhead {
		font-size: 2.5rem;
		letter-spacing: 1rem;
	}

}

/* Posts (Thumbnails) */

.dvp-posts {
	--dvp-border-radius: 0.5rem;
	--dvp-content-gutter: 0.75rem;
}

.dvp-posts + .dvp-posts {
	padding-top: 0;
}

.dvp-posts + .dvp-posts::before {
	content: "";
	display: block;
	padding-bottom: var(--dvp-padding);
	border-top: 1px solid var(--dvp-color-pink);
	opacity: 0.2;
}

.dvp-posts-header-title {
	margin-bottom: 1.5rem;
	font-size: 3rem;
	font-weight: 400;
	line-height: 1;
}

.dvp-posts-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dvp-posts-item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dvp-posts-align-top,
.dvp-posts-align-bottom {
	position: relative;
}

.dvp-posts-align-right {
	flex: 1;
	flex-direction: row;
	align-items: start;
}

.dvp-posts-thumbnail {
	position: relative;
}

.dvp-posts-align-right .dvp-posts-thumbnail {
	max-width: calc(50% - 0.5rem);
}

.dvp-posts-thumbnail-img {
	display: block;
	height: auto;
	width: 100%;
	border-radius: var(--dvp-border-radius);
}

.dvp-posts-align-top .dvp-posts-thumbnail-img,
.dvp-posts-align-bottom .dvp-posts-thumbnail-img {
	height: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.dvp-posts-thumbnail::after,
.dvp-posts-thumbnail-link::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--dvp-border-radius);
	pointer-events: none;
}

.dvp-posts-thumbnail::after {
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.2),
		inset 0 0 0 2px rgba(255, 255, 255, 0.6);
	transition: box-shadow 0.5s;
}

.dvp-posts-align-right:hover .dvp-posts-thumbnail::after {
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.2),
		inset 0 0 0 2px rgba(255, 255, 255, 0.6),
		0 0 1rem var(--dvp-color-pink-muted-light);
}

.dvp-posts-align-top:hover .dvp-posts-thumbnail::after,
.dvp-posts-align-bottom:hover .dvp-posts-thumbnail::after,
.dvp-posts-align-right .dvp-posts-thumbnail:hover::after {
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.33),
		inset 0 0 0 2px rgba(255, 255, 255, 0.33),
		0 0 1rem var(--dvp-color-pink);
}

.dvp-posts-align-top .dvp-posts-thumbnail-link::after,
.dvp-posts-align-bottom .dvp-posts-thumbnail-link::after {
	transition: opacity 0.5s;
}

.dvp-posts-align-top .dvp-posts-thumbnail-link::after {
	background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0));
}

.dvp-posts-align-bottom .dvp-posts-thumbnail-link::after {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
}

.dvp-posts-align-top:hover .dvp-posts-thumbnail-link::after,
.dvp-posts-align-bottom:hover .dvp-posts-thumbnail-link::after {
	opacity: 0;
}

.dvp-posts-translucent .dvp-posts-thumbnail {
	background: var(--dvp-color-pink-muted-dark);
	border-radius: var(--dvp-border-radius);
}

.dvp-posts-translucent .dvp-posts-thumbnail-img {
	opacity: 0.4;
	transition: opacity 0.5s;
}

.dvp-posts-translucent:hover .dvp-posts-thumbnail-img {
	opacity: 0.8;
}

.dvp-posts-content {
	display: flex;
	flex-direction: column-reverse;
	justify-content: start;
	gap: 0.5rem;
}

.dvp-posts-align-top .dvp-posts-content,
.dvp-posts-align-bottom .dvp-posts-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 var(--dvp-content-gutter);
	pointer-events: none;
	overflow: hidden;
}

.dvp-posts-title {
	margin: 0;
	color: var(--dvp-color-oxford);
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 0.9;
	overflow: hidden;
}

.dvp-posts-align-right .dvp-posts-title {
	font-size: 1.25rem;
	transition: color 0.5s;
}

.dvp-posts-align-right .dvp-posts-title:hover {
	color: var(--dvp-color-pink);
}

.dvp-posts-align-top .dvp-posts-title,
.dvp-posts-align-bottom .dvp-posts-title {
	transition: color 0.5s, text-shadow 0.5s, opacity 0.5s;
}

.dvp-posts-align-bottom .dvp-posts-title {
	padding-bottom: 0.75rem;
}

.dvp-posts-align-top:hover .dvp-posts-title,
.dvp-posts-align-bottom:hover .dvp-posts-title {
	color: #fff;
	text-shadow: 0 0 0.5rem #000;
	opacity: 0.5;
}

.dvp-posts-align-top:hover .dvp-posts-title:hover {
	text-shadow:
		0 0 0.125rem #000,
		0 0 0.25rem var(--dvp-color-pink-muted-dark),
		0 0 0.5rem var(--dvp-color-pink);
	opacity: 1;
}

.dvp-posts-align-bottom:hover .dvp-posts-title:hover {
	text-shadow:
			0 0 0.125rem var(--dvp-color-pink-muted-dark),
			0 0 0.5rem var(--dvp-color-pink);
	opacity: 1;
}

.dvp-posts-title-link {
	color: inherit;
}

.dvp-posts-date {
	margin: 0.5rem 0 0.25rem 0;
	color: #000;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 0;
	text-transform: uppercase;
	letter-spacing: 0.125rem;
	white-space: nowrap;
	opacity: 0.8;
	transition: opacity 0.5s;
}

.dvp-posts-align-top .dvp-posts-date {
	padding-top: var(--dvp-content-gutter);
	transition: color 0.5s, opacity 0.5s;
}

.dvp-posts-align-top:hover .dvp-posts-date {
	color: #fff;
	opacity: 1;
}

.dvp-posts-align-bottom:hover .dvp-posts-date {
	opacity: 0;
}

.dvp-posts-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1;
	list-style: none;
}

.dvp-posts-align-top .dvp-posts-tags {
	margin-top: auto;
	padding-bottom: var(--dvp-content-gutter);
	order: -1;
}

.dvp-posts-align-bottom .dvp-posts-tags {
	margin-bottom: auto;
	padding-top: var(--dvp-content-gutter);
}

.dvp-posts-tags-item {
	max-width: 100%;
}

.dvp-posts-tags-link {
	display: block;
	margin: 1px;
	padding: 0.125rem 0.5rem;
	color: rgba(0, 0, 0, 0.5);
	outline: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.5s, background 0.5s, outline 0.5s;
}

.dvp-posts-align-top .dvp-posts-tags-link,
.dvp-posts-align-bottom .dvp-posts-tags-link {
	background: rgba(255, 255, 255, 0.67);
}

.dvp-posts-tags-link:hover {
	background: var(--dvp-color-pink);
	color: #fff;
	outline-color: rgba(0, 0, 0, 0.5);
}

.dvp-posts-align-top .dvp-posts-title-link,
.dvp-posts-align-top .dvp-posts-tags-link,
.dvp-posts-align-bottom .dvp-posts-title-link,
.dvp-posts-align-bottom .dvp-posts-tags-link {
	pointer-events: auto;
}

.dvp-posts-footer {
	margin-top: 1.25rem;
	text-align: right;
}

@media screen and (min-width: 1440px) {

	.dvp-posts-list {
		grid-template-columns: repeat(6, 1fr);
	}

	.dvp-posts-align-right .dvp-posts-title {
		font-size: inherit;
	}

}

/* Affiliates */

.dvp-affiliates-title {
	font-size: 1.25rem;
	text-align: center;
}

.dvp-affiliates-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dvp-affiliates-item {
	flex-basis: 25%;
	max-width: 8rem;
}

.dvp-affiliates-size-half {
	flex-basis: 12.5%;
	max-width: 4rem;
}

.dvp-affiliates-img {
	width: 100%;
}

@media screen and (min-width: 782px) {

	.dvp-affiliates-title {
		font-size: 1.5rem;
	}

}

@media screen and (min-width: 1440px) {

	.dvp-affiliates-list {
		gap: 4rem;
	}

}

/* Footer */

.dvp-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: 1.5rem;
	background: var(--dvp-color-pink);
	color: #fff;
	font-size: 1rem;
}

.dvp-footer-logo {
	display: flex;
	margin: 0;
	padding: 0.5rem;
	flex-basis: calc(33% - 1.75rem);
	max-width: 10rem;
	aspect-ratio: 1;
	background: #fff;
	border-radius: 0.5rem;
}

.dvp-footer-logo-img {
	display: block;
	width: 100%;
}

.dvp-footer-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex-grow: 1;
	flex-basis: 50%;
}

.dvp-footer-name {
	margin: 0;
}

.dvp-footer-name-copy {
	display: block;
	margin: 0.25rem 0;
}

.dvp-footer-name-copy:lang(th) {
	margin-bottom: -0.125rem;
	font-size: 2rem;
	font-weight: 700;
	line-height: 0.75;
}

.dvp-footer-name-copy:lang(en) {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 0.75;
}

.dvp-footer-name-copy:lang(cn) {
	font-size: 1rem;
}

.dvp-footer-info-copy {
	margin: 0;
}

.dvp-footer-nav {
	margin: 0.25rem 0;
	padding: 1.25rem 0 0 0;
	flex-basis: 100%;
	font-weight: 700;
	list-style: none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	columns: 2;
	gap: 1.5rem;
}

.dvp-footer-nav-item {
	padding: 0.25rem 0;
}

.dvp-footer-nav-sub-list {
	padding: 0.25rem 0;
	font-weight: 400;
	list-style: none;
}

.dvp-footer-links,
.dvp-footer-lang {
	display: flex;
	gap: 1.25rem;
	flex-basis: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dvp-footer-links {
	font-size: 1.5rem;
}

.dvp-footer-links + .dvp-footer-lang {
	margin-top: -0.75rem;
}

.dvp-footer-lang-item {
	font-weight: 700;
}

.dvp-footer-lang-item.dvp-active {
	font-weight: 400;
	font-style: italic;
}

.dvp-footer-nav-item > a,
.dvp-footer-nav-sub-item > a,
.dvp-footer-links-icon,
.dvp-footer-lang-link {
	color: inherit;
	transition: color 0.5s;
}

.dvp-footer-nav-item > a:hover,
.dvp-footer-nav-sub-item > a:hover,
.dvp-footer-links-icon:hover,
.dvp-footer-lang-link:hover {
	color: var(--dvp-color-oxford);
}

@media screen and (min-width: 782px) {

	.dvp-footer {
		justify-content: space-between;
	}

	.dvp-footer-info {
		margin: 0;
		padding: 0;
		flex-basis: auto;
	}

	.dvp-footer-nav {
		margin: 0;
		padding: 0;
		flex-basis: auto;
		border: 0;
	}

	.dvp-footer-divider {
		flex-basis: 100%;
	}
	
	.dvp-footer-links,
	.dvp-footer-lang {
		flex-basis: auto;
	}

	.dvp-footer-links + .dvp-footer-lang {
		margin-top: 0;
	}

}

@media screen and (min-width: 1440px) {

	.dvp-footer {
		font-size: 1.25rem;
	}

	.dvp-footer-name-copy:lang(th) {
		font-size: 2.5rem;
	}
	
	.dvp-footer-name-copy:lang(en) {
		font-size: 2rem;
	}
	
	.dvp-footer-name-copy:lang(cn) {
		font-size: 2rem;
	}

}